/* Style for download links */
.download-link {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #000000;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px; /* White corners */
    text-align: center;
    text-decoration: none;
    margin: 10px 0;
    transition: background-color 0.3s;
}

.download-link:hover {
    background-color: #000000;
}

/* Additional styling for the rest of the website */
body {
    background-color: #000000; /* Dark mode background */
    color: #ffffff; /* White text */
    font-family: 'Minecraft', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #000000;
}

#logo {
    height: 50px;
}

nav a {
    padding: 0.5rem 1rem;
    background-color: #000000;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #000000;
}

.download-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #000000;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

main {
    padding: 2rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #1f1f1f;
}
